
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #020617;
}

.logo {
  color: #22c55e;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #cbd5f5;
}

.nav-links a:hover {
  color: #22c55e;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #16a34a, #0f766e);
}

.hero.teen {
  background: linear-gradient(135deg, #6366f1, #22c55e);
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  margin: 15px 0;
  font-size: 18px;
}

.hero button {
  padding: 12px 25px;
  border: none;
  background: #020617;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px 20px;
  flex-wrap: wrap;
}

.card {
  background: #020617;
  padding: 25px;
  width: 260px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(34,197,94,0.3);
}

.card h3 {
  color: #22c55e;
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #020617;
  color: #94a3b8;
}

